<body><div class="topnav">
    <h2>HDB Staff</h2>
    <a class="active" routerLink="" >Home</a> 
    </div>

<div id="container">
    <h2>Registration Form</h2>
    <form id="reg-form">
      <b>Name:</b>
      <input type="text" id="name" name="name" placeholder="Enter Full Name" required><br><br>
      <b>Email:</b>
      <input type="text" id="email" name="email" placeholder="Enter Email Id" required><br><br>
      <b>Address:</b>
      <input type="text" id="address" name="address" placeholder="Enter Address" required><br><br>
      <b>Gender:</b>
      <input type="radio" id="radio" name="gender" value="Female"/> Female
      <input type="radio" id="radio" name="gender" value="Male"/> Male
      <input type="radio" id="radio" name="gender" value="Other"/> Other
      <br><br>
      <!--<b>Category of the sales Item:</b>
      <select name="items" id="options">
      <option value="volvo">Item1</option>
      <option value="saab">Item2</option>
      <br><br>-->
      <b>Password:</b>
      <input type="password" id="password" name="password" placeholder="Enter Password" required><br><br>
      <b>ReEnter:</b>
      <input type="password" id="password" name="password" placeholder="ReEnter Password" required><br><br>
      
      <!--<input type="submit" id="login" value="Login">-->

      <button id="reg">Register</button>
      
    </form>
    <div id="account">
        <p>Already have an account? <a href="#">Sign in</a><p>
      </div>
    </div>
</body>
