/*nav{
    background:orangered;
    height: 80px;
    width:100%;
  }
  label.logo{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  
  }
  
  nav ul{
    float:right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px,13px;
    border-radius: 3px;
    text-transform: uppercase;
  
  }
  a.active,a:hover{
    
    transition: .5s;
  }*/
  .topnav {
    overflow: hidden;
    background-color:orangered;
    height: 60px;
  }
  
  .topnav a  {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 20px; 
    
  }
  .topnav .active
  {
    margin-left: 65%;
    position: relative;
  }
  .topnav a:hover {
    background-color: black;
    color: white;    
  }
  

  .topnav a.active {
    color: white;
  }
  .btn{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 20px;
    background-color:orangered;
    border: none;
   
  }


  h5{
  float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  margin-top: 5px;
  }
  
  body{
    margin:0;
    padding:0;
    font-family:montserrat;
    background-color:lightblue;
    height: 100vh;
    overflow: hidden;
  }
  .center{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:400px;
    background: white;
    border-radius: 10px;
  
  }
  .center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
  }
  .center form{
    padding:0 40px;
    box-sizing: border-box;
  }
  form .txt_field{
    position:relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .txt_field input{
    width: 50px;
    padding: 10 5px;
    height: 40px;
    font-size: 16px;
    border:solid;
    background: none;
    outline: none;
  
  }
  .txt_field label{
    position: absolute;
    top:50%;
    left: 5px;
    color:#adadad;
    transform: translate(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position:absolute ;
    top:40px;
    left:0;
    width:0%;
    height:2px;
    background: gray;
    transition: .5s ;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color:gray;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width:100%;
  
  }
  .pass{
    margin: -5px 0 20px 5px;
    color:aqua;
    cursor: pointer;
  
  }
  .pass:hover{
    text-decoration: underline;
  
  }
  .btnn{
    width:100%;
    height: 50px;
    border:1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor:pointer;
    outline: none;
  }
  /*input[type="submit"]{
    width:100%;
    height: 50px;
    border:1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor:pointer;
    outline: none;
  
  }
  input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
  
  }*/
  .signup_link{
    margin: 30px;
    text-align: center;
    font-size: 16px;
    color:#666666;
  }
  .signup_link a{
    color:#2691d9;
    text-decoration: none;
  
  }
  .signup_link a:hover{
    text-decoration: underline;
  
  }
  input{
    margin-left: 10px;
  }